page-logshow {
.list{
  size: 16px;
  color: #7C7F7F;
}
  .title{
    text-align: center;
    font-size: 16px;
    color: #727A7C;
    font-weight: bold;
  }
  .list ion-list-header{
    text-align: center;
    font-size: 16px;
    color: #727A7C;
    font-weight: bold;
  }
  .list ion-item{
    color: #7C7F7F;
  }
  .list ion-label{
    white-space:normal;
  }
}
